.testimonial{
    padding-bottom: 80px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.05)
      )
      1;
}
.testimonial__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.testimonial__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial__item-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.testimonial__item-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}
.testimonial__item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial__item-name {
  font-family: var(font-inter);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.testimonial__item-rating {
  font-size: 14px;
  color: var(--starcolor-yellow);
}

.testimonial__item-description {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
}

@media (max-width: 1024px) {
    .testimonial__content {
     display: flex;
     flex-direction: column;
      gap: 16px;
    }
  
    .testimonial__item {
      padding: 16px;
    }
  
    .testimonial__item-name {
      font-size: 18px;
    }
  
    .testimonial__item-description {
      font-size: 18px;
    }
  }
  
  /* Mobile View */
  @media (max-width: 768px) {
    .testimonial__content {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  
    .testimonial__item {
      padding: 12px;
    }
  
    .testimonial__item-image {
      width: 50px;
      height: 50px;
    }
  
    .testimonial__item-name {
      font-size: 16px;
    }
  
    .testimonial__item-rating {
      font-size: 12px;
    }
  
    .testimonial__item-description {
      font-size: 16px;
      line-height: 150%;
    }
  }